.dashboard{

  margin-top:20px;

}

.dashboard-card{

  background:white;

  padding:25px;

  border-radius:10px;

  box-shadow:0 4px 12px rgba(0,0,0,0.08);

}

.dashboard-title{

  font-size:22px;
  margin-bottom:10px;

}

.dashboard-sub{

  font-size:14px;
  color:#555;

}